body {
  background-image: url('../images/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
  
#characters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#characters h1 {
  border: solid rgb(255, 255, 255) 2px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 32px;
  margin-top: 50px;
  font-weight: 800;

}
  
#characters ul {
  list-style: none;
  padding: 20px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
  justify-content: center; 
  align-items: center;
  max-width: 100%;
  height: 50%;
}

#characters li {
  background: black ;
  border: solid rgb(255, 255, 255) 1px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 15px 10px;
  cursor: pointer;
  text-align: center;
}

#characters li:hover {
  background: rgba(255, 255, 255, 0.2); 
  transform: scale(1.1); 
}

#characters li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#characters img {
  width: 100%;
  border-radius: 5px;
  display: block;
  margin: 0 auto; 
}

/* Movie Section */
#movie-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#movie-box h1 {
  border: solid rgb(255, 255, 255) 2px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  margin-top: 50px;
  font-weight: 800;

}

#movie-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.movie {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.movie:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.2);
}

.movie-heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.movie img {
  width: 100%;
  border-radius: 5px;
}


@media screen and (max-width: 1024px) {
  #characters, #movie-con {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #characters, #movie-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #characters, #movie-con {
    grid-template-columns: repeat(1, 1fr);
  }
}
